//* colors
/// @type Color
$main-color: #ffa822 !default;
$light_main-color: #fceabb !default;
$sub-color: #134e6f !default;
$sub2-color: #07182e !default;
//* Breakpoints
$breakpoints-mobile_sm: 320px;
$breakpoints-mobile_lg: 480px;
$breakpoints-tablet: 768px;
$breakpoints-laptop-sm: 1024px;
$breakpoints-laptop-lg: 1200px;
