html {
	background-color: #222;
}
.App {
	text-align: center;
	background-color: #222;
	color: #fff;
	.App-header {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #000;
		height: 150px;
		padding: 20px;

		background: #fceabb; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			to right,
			#f8b500,
			#fceabb
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to right,
			#f8b500,
			#fceabb
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	.caesar-cipher {
		display: flex;
		& > div {
			flex: 1;
		}
	}
	.password_length-container,
	.cipher_encryption-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 1rem;
		gap: 0.75rem;

		.cipher-input {
			display: flex;
			flex-direction: column;
		}
		label {
			font-size: 1.5rem;
		}
		textarea,
		input {
			background: #7d7d7d;
			border: 1px solid #ffffff2e;
			border-radius: 8px;
			font-size: 1.5rem;
			padding: 0.5rem;
			color: #fff;
		}
		textarea {
			width: 40vw;

			resize: vertical;
		}

		input {
			width: 100px;
			text-align: center;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			/* Firefox */
			&[type='number'] {
				-moz-appearance: textfield;
			}
		}
	}
	.password_length-container {
		flex-direction: column;
	}

	.output-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1rem 0;
		position: relative;
		h3 {
			font-size: 1.5rem;
			font-weight: 700;
			letter-spacing: 0.25rem;
			word-spacing: 0.5rem;
			text-transform: uppercase;
			z-index: 2;
		}
		.lock_icon {
			width: 10rem;
			height: 10rem;
			position: absolute;
			color: #f8b500;
			top: -25px;
		}
		.output-box {
			padding: 1rem;
			padding-inline-end: 50px;
			position: relative;
			font-size: 1.5rem;
			font-weight: 700;
			min-height: 30px;
			min-width: 250px;
			max-width: 85vw;
			background: #ffffff40;
			box-shadow: 0 4px 16px 0 #1f26875e;
			backdrop-filter: blur(10px);
			border-radius: 10px;
			border: 1px solid #ffffff2e;
			letter-spacing: 0.125rem;
			filter: drop-shadow(2px 4px 6px black);
			&.--password {
				letter-spacing: 1rem;
			}
			&.--cipher {
				max-width: 40vw;
			}

			.copy_button {
				background: none;
				border: 0;
				color: #fff;
				filter: drop-shadow(2px 4px 6px black);
				font-size: 1.5rem;
				position: absolute;
				inset-inline-end: 10px;
				inset-block-start: 10px;
				cursor: pointer;
			}
			span.copy_text {
				font-size: 1rem;
				letter-spacing: 0.125rem;
				background: #ffffff80;
				padding: 1rem;
				border-radius: 8px;
				position: absolute;
				inset-inline-end: -100px;
				top: -50px;
				display: none;
				transition: all 1s;
				-webkit-animation: slide-up 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
					reverse both;
				animation: slide-up 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse
					both;
				&.--show {
					display: inline-block;
					-webkit-animation: slide-up 0.15s
						cubic-bezier(0.51, 0.92, 0.265, 1.55) both;
					animation: slide-up 0.15s cubic-bezier(0.51, 0.92, 0.265, 1.55) both;
					&:after {
						content: '';
						position: absolute;
						top: 98%;
						left: 15%;
						margin-left: -8px;
						width: 0;
						height: 0;
						border-top: 28px solid #919191;
						border-right: 8px solid transparent;
						border-left: 8px solid transparent;
					}
				}
			}
		}
	}
}
@keyframes slide-up {
	0% {
		-webkit-transform: translateY(0) scale(0.8);
		transform: translateY(0) scale(0.8);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(-35px) scale(1);
		transform: translateY(-35px) scale(1);
		opacity: 1;
	}
}
