.App {
	text-align: center;
	.App-header {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #222;
		height: 150px;
		padding: 20px;
		color: white;
	}
	.password_length-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1rem;
		gap: 0.5rem;
		label {
			font-size: 1.25rem;
		}
		input {
			width: 100px;
			text-align: center;
			font-size: 1rem;
			padding: 0.5rem;
		}
	}
	.generate-btn {
		font-size: 1.25rem;
		text-transform: uppercase;
		padding: 0.5rem;
	}
	.output-password {
		display: flex;
		flex-direction: column;
		align-items: center;
		h4 {
			padding: 1rem;
			border: 1px solid #000;
			letter-spacing: 1rem;
		}
	}
}
